ol, ul {
    list-style: none;
}
ul {
    padding: 0;
    margin: 0;
}
.circle-icon{
    width: 100px; position: relative;top:-100px
}
.user-info{
    position: relative;
    top: -100px;
}
.user-name{
    text-align: center;
}
.jumbotron{
    /*background: linear-gradient(to bottom, #68EACC 0%, #497BE8 100%);*/
    background: #f5f5f5;
}
.user-info p{
    font-size: 10px;
    text-align: center;
}
.user-widget-statatistic{
    max-width:300px ;
    margin: 0 auto;
}
.user-widget-statatistic ul li.border-red {
    border-top-color: #e36159;

}
.user-widget-statatistic ul li {
    display: block;
    text-align: center;
    width: 33.333333333333336%;
    float: left;
    padding: 10px;
    border-top: 3px solid #2baab1;
}
.user-widget-statatistic ul li {
    display: block;
    text-align: center;
    width: 33.333333333333336%;
    float: left;
    padding: 10px;
    border-top: 3px solid #2baab1;
}
.user-widget-statatistic ul li.border-yellow {
    border-top-color: #edbc6c;
}
.user-widget-statatistic ul li {
    display: block;
    text-align: center;
    width: 33.333333333333336%;
    float: left;
    padding: 10px;
    border-top: 3px solid #2baab1;
}
.app-list{

}
.user-widget.user-widget2 {
    text-align: left;
}
.user-widget {
    text-align: center;
    background-color: #fff;
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    margin-bottom: 20px;
    box-shadow: 0 1px 1px rgba(0,0,0,.15);
    -moz-box-shadow: 0 1px 1px rgba(0,0,0,.15);
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.15);
}
.user-widget.user-widget2 .user-widget-body {
    padding: 20px;
}
.user-widget .user-widget-body {
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 16px;
    border-radius: 6px 6px 0 0;
    -moz-border-radius: 6px 6px 0 0;
    -webkit-border-radius: 6px 6px 0 0;
}
.bg-success {
    background-color: #2baab1;
    color: #fff;
}
.bg-connect {
    background-color: #edbc6c;
    color: #fff;
}
.user-widget.user-widget2 img {
    float: left;
}
.user-widget .user-widget-body img {
    width: 50px;
    height: 50px;
    border-radius: 50em;
    -moz-border-radius: 50em;
    -webkit-border-radius: 50em;
}
.user-widget.user-widget2 .user-widget-body .user-detail {
    margin-left: 65px;
}
.m-top-sm {
    margin-top: 10px;
}
.user-widget .user-widget-body .small-text {
    font-size: 70%;
}
.text-white {
    color: #fff;
}
.badge-warning, .label-warning {
    background-color: #edbc6c;
    color: #fff;
}
.badge-danger, .label-danger {
    background-color: #e36159;
    color: #fff;
}
.badge-info, .label-info {
    background-color: #23b7e5;
    color: #fff;
}

.user-widget .user-widget-body i {
   font-size: 50px;
    border-radius: 50em;
    -moz-border-radius: 50em;
    -webkit-border-radius: 50em;
}
.user-widget.user-widget2 .user-widget-body  i {
    float: left;
}
