ol, ul {
    list-style: none;
}
ul {
    padding: 0;
    margin: 0;
}
.circle-icon{
    width: 100px; position: relative;top:-100px
}
.user-info{
    position: relative;
    top: -100px;
}
.user-name{
    text-align: center;
}
.jumbotron{
    /*background: linear-gradient(to bottom, #68EACC 0%, #497BE8 100%);*/
    background: #f5f5f5;
}
.user-info p{
    font-size: 10px;
    text-align: center;
}
.user-widget-statatistic{
    max-width:300px ;
    margin: 0 auto;
}
.user-widget-statatistic ul li.border-red {
    border-top-color: #e36159;

}
.user-widget-statatistic ul li {
    display: block;
    text-align: center;
    width: 33.333333333333336%;
    float: left;
    padding: 10px;
    border-top: 3px solid #2baab1;
}
.user-widget-statatistic ul li {
    display: block;
    text-align: center;
    width: 33.333333333333336%;
    float: left;
    padding: 10px;
    border-top: 3px solid #2baab1;
}
.user-widget-statatistic ul li.border-yellow {
    border-top-color: #edbc6c;
}
.user-widget-statatistic ul li {
    display: block;
    text-align: center;
    width: 33.333333333333336%;
    float: left;
    padding: 10px;
    border-top: 3px solid #2baab1;
}
.app-list{

}
.user-widget.user-widget2 {
    text-align: left;
}
.user-widget {
    text-align: center;
    background-color: #fff;
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    margin-bottom: 20px;
    box-shadow: 0 1px 1px rgba(0,0,0,.15);
    -moz-box-shadow: 0 1px 1px rgba(0,0,0,.15);
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.15);
}
.user-widget.user-widget2 .user-widget-body {
    padding: 20px;
}
.user-widget .user-widget-body {
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 16px;
    border-radius: 6px 6px 0 0;
    -moz-border-radius: 6px 6px 0 0;
    -webkit-border-radius: 6px 6px 0 0;
}
.bg-success {
    background-color: #2baab1;
    color: #fff;
}
.bg-connect {
    background-color: #edbc6c;
    color: #fff;
}
.user-widget.user-widget2 img {
    float: left;
}
.user-widget .user-widget-body img {
    width: 50px;
    height: 50px;
    border-radius: 50em;
    -moz-border-radius: 50em;
    -webkit-border-radius: 50em;
}
.user-widget.user-widget2 .user-widget-body .user-detail {
    margin-left: 65px;
}
.m-top-sm {
    margin-top: 10px;
}
.user-widget .user-widget-body .small-text {
    font-size: 70%;
}
.text-white {
    color: #fff;
}
.badge-warning, .label-warning {
    background-color: #edbc6c;
    color: #fff;
}
.badge-danger, .label-danger {
    background-color: #e36159;
    color: #fff;
}
.badge-info, .label-info {
    background-color: #23b7e5;
    color: #fff;
}

.user-widget .user-widget-body i {
   font-size: 50px;
    border-radius: 50em;
    -moz-border-radius: 50em;
    -webkit-border-radius: 50em;
}
.user-widget.user-widget2 .user-widget-body  i {
    float: left;
}

/*timeline*/
.timeline {
    list-style: none;
    margin: 25px 0 22px;
    padding: 0;
    position: relative;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.timeline:after {
    border: 6px solid;
    border-top-width: 13px;
    border-color: #00637d transparent transparent transparent;
    content: "";
    display: block;
    position: absolute;
    bottom: -19px;
    left: 15px;
}

.timeline-horizontal:after {
    border-top-width: 6px;
    border-left-width: 13px;
    border-color: transparent transparent transparent #00637d;
    top: 15px;
    right: 0;
    bottom: auto;
    left: auto;
}
.timeline-horizontal .timeline-milestone {
    border-top: 2px solid #00637d;
    display: inline;
    float: left;
    margin: 20px 0 0 0;
    padding: 40px 0 0 0;
}
.timeline-horizontal .timeline-milestone:before {
    top: -17px;
    left: auto;
}
.timeline-horizontal .timeline-milestone.is-completed:after {
    top: -17px;
    left: 0;
}

.timeline-milestone {
    border-left: 2px solid #00637d;
    margin: 0 0 0 20px;
    padding: 0 0 5px 25px;
    position: relative;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.timeline-milestone:before {
    border: 7px solid #00637d;
    border-radius: 50%;
    content: "";
    display: block;
    position: absolute;
    left: -17px;
    width: 32px;
    height: 32px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.timeline-milestone.is-completed:before {
    background-color: #00637d;
}
.timeline-milestone.is-completed:after {
    color: #FFF;
    content: "\f00c";
    display: block;
    font-family: "FontAwesome";
    line-height: 32px;
    position: absolute;
    top: 0;
    left: -17px;
    text-align: center;
    width: 32px;
    height: 32px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.timeline-milestone.is-current:before {
    background-color: #EEE;
}
.timeline-milestone.is-future:before {
    background-color: #8DACB8;
    border: 0;
}
.timeline-milestone.is-future .timeline-action .title {
    color: #8DACB8;
}

.timeline-action {
    background-color: #EEE;
    padding: 12px 10px 12px 20px;
    position: relative;
    top: -15px;
}
.timeline-action.is-expandable .title {
    cursor: pointer;
    position: relative;
}
.timeline-action.is-expandable .title:focus {
    outline: 0;
    text-decoration: underline;
}
.timeline-action.is-expandable .title:after {
    border: 6px solid #666;
    border-color: transparent transparent transparent #666;
    content: "";
    display: block;
    position: absolute;
    top: 6px;
    right: 0;
}
.timeline-action.is-expandable .content {
    display: none;
}
.timeline-action.is-expandable.is-expanded .title:after {
    border-color: #666 transparent transparent transparent;
    top: 10px;
    right: 5px;
}
.timeline-action.is-expandable.is-expanded .content {
    display: block;
}
.timeline-action .title, .timeline-action .content {
    word-wrap: break-word;
}
.timeline-action .title {
    color: #00637d;
    font-size: 18px;
    margin: 0;
}
.timeline-action .date {
    display: block;
    font-size: 14px;
    margin-bottom: 15px;
}
.timeline-action .content {
    font-size: 14px;
}

.file-list {
    line-height: 1.4;
    list-style: none;
    padding-left: 10px;
}

.page {
    max-width: 1200px;
    margin: 40px 30px;
}


.video-link:before {
    content: "\f03d";
    display: inline-block;
    font-family: "FontAwesome";
    margin-right: 5px;
}

a[href*=".pdf"]:before {
    content: "\f0f6";
    display: inline-block;
    font-family: "FontAwesome";
    margin-right: 8px;
}
.h260{
    height: 260px;
    overflow: hidden;
}